In [99]:
import torch
from torch import nn
import numpy as np
import pandas
from torch.utils.data import Dataset, DataLoader
import time

pandas.set_option('precision', 20)

In [104]:
dataset = pandas.read_csv('DATASETS/NOISE/DATASET.csv')
dataset

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,5,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000170000,0.00009679999999999999
1,5,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169738,0.00009790000000000001
2,5,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169476,0.00009970000000000000
3,5,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169215,0.00010178900000000000
4,5,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000168955,0.00010362100000000000
...,...,...,...,...,...,...,...
518395,20,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130618,-0.01264649999999999976
518396,20,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130463,-0.01230960000000000040
518397,20,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130308,-0.01214430000000000023
518398,20,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130154,-0.01191739999999999987
518399,20,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130000,-0.01143749999999999975

In [105]:
new_data = pandas.read_csv('DATASETS/NOISE/output_data_10_03_22.csv')
new_data

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,14.0,0.00000075,0.6500000000000000222,0.25,0,0.00000170000,0.00108840000000000000
1,14.0,0.00000075,0.6500000000000000222,0.25,0,0.00000169738,0.00089821399999999994
2,14.0,0.00000075,0.6500000000000000222,0.25,0,0.00000169476,0.00069250399999999993
3,14.0,0.00000075,0.6500000000000000222,0.25,0,0.00000169215,0.00048980800000000000
4,14.0,0.00000075,0.6500000000000000222,0.25,0,0.00000168955,0.00031127800000000001
...,...,...,...,...,...,...,...
3995,15.0,0.00000075,0.6500000000000000222,0.25,1,0.00000130618,-0.00056732500000000003
3996,15.0,0.00000075,0.6500000000000000222,0.25,1,0.00000130463,-0.00057533699999999998
3997,15.0,0.00000075,0.6500000000000000222,0.25,1,0.00000130308,-0.00058150900000000002
3998,15.0,0.00000075,0.6500000000000000222,0.25,1,0.00000130154,-0.00058426099999999998
3999,15.0,0.00000075,0.6500000000000000222,0.25,1,0.00000130000,-0.00058285900000000002

In [106]:
dataset = dataset.append(new_data)
dataset

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,5.0,0.00000050,0.4000000000000000222,0.2000000000000000111,0,0.00000170000,0.00009679999999999999
1,5.0,0.00000050,0.4000000000000000222,0.2000000000000000111,0,0.00000169738,0.00009790000000000001
2,5.0,0.00000050,0.4000000000000000222,0.2000000000000000111,0,0.00000169476,0.00009970000000000000
3,5.0,0.00000050,0.4000000000000000222,0.2000000000000000111,0,0.00000169215,0.00010178900000000000
4,5.0,0.00000050,0.4000000000000000222,0.2000000000000000111,0,0.00000168955,0.00010362100000000000
...,...,...,...,...,...,...,...
3995,15.0,0.00000075,0.6500000000000000222,0.2500000000000000000,1,0.00000130618,-0.00056732500000000003
3996,15.0,0.00000075,0.6500000000000000222,0.2500000000000000000,1,0.00000130463,-0.00057533699999999998
3997,15.0,0.00000075,0.6500000000000000222,0.2500000000000000000,1,0.00000130308,-0.00058150900000000002
3998,15.0,0.00000075,0.6500000000000000222,0.2500000000000000000,1,0.00000130154,-0.00058426099999999998
3999,15.0,0.00000075,0.6500000000000000222,0.2500000000000000000,1,0.00000130000,-0.00058285900000000002

In [109]:
new_data = pandas.read_csv('DATASETS/NOISE/output_data_11_03_22.csv')
new_data

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,8.0,0.000000886,0.80000000000000004441,0.5999999999999999778,0,0.00000170000,0.02297930000000000111
1,8.0,0.000000886,0.80000000000000004441,0.5999999999999999778,0,0.00000169738,0.02016240000000000393
2,8.0,0.000000886,0.80000000000000004441,0.5999999999999999778,0,0.00000169476,0.01755320000000000144
3,8.0,0.000000886,0.80000000000000004441,0.5999999999999999778,0,0.00000169215,0.01513450000000000038
4,8.0,0.000000886,0.80000000000000004441,0.5999999999999999778,0,0.00000168955,0.01289850000000000198
...,...,...,...,...,...,...,...
39995,9.0,0.000000886,0.80000000000000004441,0.5999999999999999778,1,0.00000130618,-0.00007559999999999999
39996,9.0,0.000000886,0.80000000000000004441,0.5999999999999999778,1,0.00000130463,-0.00008200000000000000
39997,9.0,0.000000886,0.80000000000000004441,0.5999999999999999778,1,0.00000130308,-0.00008990000000000000
39998,9.0,0.000000886,0.80000000000000004441,0.5999999999999999778,1,0.00000130154,-0.00009970000000000000
39999,9.0,0.000000886,0.80000000000000004441,0.5999999999999999778,1,0.00000130000,-0.00011164800000000000

In [110]:
dataset = dataset.append(new_data)
dataset

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,5.0,0.000000500,0.40000000000000002220,0.2000000000000000111,0,0.00000170000,0.00009679999999999999
1,5.0,0.000000500,0.40000000000000002220,0.2000000000000000111,0,0.00000169738,0.00009790000000000001
2,5.0,0.000000500,0.40000000000000002220,0.2000000000000000111,0,0.00000169476,0.00009970000000000000
3,5.0,0.000000500,0.40000000000000002220,0.2000000000000000111,0,0.00000169215,0.00010178900000000000
4,5.0,0.000000500,0.40000000000000002220,0.2000000000000000111,0,0.00000168955,0.00010362100000000000
...,...,...,...,...,...,...,...
39995,9.0,0.000000886,0.80000000000000004441,0.5999999999999999778,1,0.00000130618,-0.00007559999999999999
39996,9.0,0.000000886,0.80000000000000004441,0.5999999999999999778,1,0.00000130463,-0.00008200000000000000
39997,9.0,0.000000886,0.80000000000000004441,0.5999999999999999778,1,0.00000130308,-0.00008990000000000000
39998,9.0,0.000000886,0.80000000000000004441,0.5999999999999999778,1,0.00000130154,-0.00009970000000000000
39999,9.0,0.000000886,0.80000000000000004441,0.5999999999999999778,1,0.00000130000,-0.00011164800000000000

In [113]:
new_data = pandas.read_csv('DATASETS/NOISE/output_data_13_03_22.csv')
new_data

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,10.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000170000,-0.00016305899999999998
1,10.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000169738,-0.00015550800000000000
2,10.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000169476,-0.00014162499999999999
3,10.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000169215,-0.00012065900000000000
4,10.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000168955,-0.00009240000000000001
...,...,...,...,...,...,...,...
39995,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130618,-0.00080868699999999999
39996,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130463,-0.00084836399999999989
39997,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130308,-0.00088449199999999996
39998,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130154,-0.00094034800000000003
39999,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130000,-0.00100734000000000001

In [114]:
dataset = dataset.append(new_data)
dataset

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000170000,0.00009679999999999999
1,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169738,0.00009790000000000001
2,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169476,0.00009970000000000000
3,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169215,0.00010178900000000000
4,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000168955,0.00010362100000000000
...,...,...,...,...,...,...,...
39995,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130618,-0.00080868699999999999
39996,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130463,-0.00084836399999999989
39997,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130308,-0.00088449199999999996
39998,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130154,-0.00094034800000000003
39999,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130000,-0.00100734000000000001

In [118]:
dataset.to_csv('DATASETS/NOISE/DATASET_22March2022.csv', index=False)

In [123]:
dataset = pandas.read_csv('DATASETS/NOISE/DATASET_22March2022.csv')
dataset

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000170000,0.00009679999999999999
1,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169738,0.00009789999999999999
2,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169476,0.00009970000000000000
3,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169215,0.00010178900000000000
4,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000168955,0.00010362100000000000
...,...,...,...,...,...,...,...
602395,11.0,0.00000151,0.44444400000000000572,0.55555600000000004979,1,0.00000130618,-0.00080868699999999999
602396,11.0,0.00000151,0.44444400000000000572,0.55555600000000004979,1,0.00000130463,-0.00084836399999999989
602397,11.0,0.00000151,0.44444400000000000572,0.55555600000000004979,1,0.00000130308,-0.00088449199999999996
602398,11.0,0.00000151,0.44444400000000000572,0.55555600000000004979,1,0.00000130154,-0.00094034800000000003
602399,11.0,0.00000151,0.44444400000000000572,0.55555600000000004979,1,0.00000130000,-0.00100734000000000001

In [124]:
columns_to_norm = ['Theta', 'Pitch', 'Duty Cycle', 'Fill Factor', 'Lambda', 'Mode']
dataset[columns_to_norm] = dataset[columns_to_norm].apply(lambda x: (x-x.min()) / (x.max() - x.min()))
dataset

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,0.0000000000000000000,0.0,0.0000000000000000000,0.00000000000000000000,0.0,1.00000000000000000000,0.00009679999999999999
1,0.0000000000000000000,0.0,0.0000000000000000000,0.00000000000000000000,0.0,0.99344999999999972218,0.00009789999999999999
2,0.0000000000000000000,0.0,0.0000000000000000000,0.00000000000000000000,0.0,0.98689999999999999947,0.00009970000000000000
3,0.0000000000000000000,0.0,0.0000000000000000000,0.00000000000000000000,0.0,0.98037499999999988542,0.00010178900000000000
4,0.0000000000000000000,0.0,0.0000000000000000000,0.00000000000000000000,0.0,0.97387500000000093436,0.00010362100000000000
...,...,...,...,...,...,...,...
602395,0.4000000000000000222,1.0,0.1111099999999999588,0.88889000000000017998,1.0,0.01544999999999978509,-0.00080868699999999999
602396,0.4000000000000000222,1.0,0.1111099999999999588,0.88889000000000017998,1.0,0.01157499999999975909,-0.00084836399999999989
602397,0.4000000000000000222,1.0,0.1111099999999999588,0.88889000000000017998,1.0,0.00769999999999973223,-0.00088449199999999996
602398,0.4000000000000000222,1.0,0.1111099999999999588,0.88889000000000017998,1.0,0.00384999999999986612,-0.00094034800000000003
602399,0.4000000000000000222,1.0,0.1111099999999999588,0.88889000000000017998,1.0,0.00000000000000000000,-0.00100734000000000001

In [125]:
dataset.to_csv('DATASETS/NOISE/DATASET_MIN_MAX_NORMALIZED_22March2022.csv')

In [126]:
training_set = dataset.sample(frac = 0.85)
training_set

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
512518,1.00000000000000000000,0.99009900990099020124,0.59999999999999997780,0.59999999999999997780,0.0,0.34422499999999978115,0.00055686899999999998
128067,0.20000000000000001110,0.39603960396039611380,1.00000000000000000000,0.39999999999999996669,0.0,0.60104999999999997318,0.00196006000000000001
293329,0.59999999999999997780,0.39603960396039611380,0.40000000000000007772,0.20000000000000006661,0.0,0.29327499999999995239,0.00367438000000000009
467812,1.00000000000000000000,0.39603960396039611380,0.40000000000000007772,1.00000000000000000000,1.0,0.92257499999999992291,-0.00108320000000000009
178791,0.40000000000000002220,0.00000000000000000000,0.40000000000000007772,0.39999999999999996669,1.0,0.03102500000000037519,-0.00034902600000000000
...,...,...,...,...,...,...,...
600902,0.39797999999999994492,1.00000000000000000000,0.11110999999999995880,0.88889000000000017998,0.0,0.42102500000000003810,0.00074628899999999992
419439,0.80000000000000004441,0.99009900990099020124,0.00000000000000000000,0.80000000000000004441,1.0,0.75830000000000019611,-0.00367237999999999983
262128,0.59999999999999997780,0.00000000000000000000,0.19999999999999990008,0.20000000000000006661,0.0,0.29784999999999972609,0.00018969500000000001
559206,0.26195266666666666699,0.38217821782178212908,1.00000000000000000000,1.00000000000000000000,0.0,0.96092500000000025118,0.00253504000000000012
1936,0.00000000000000000000,0.00000000000000000000,0.00000000000000000000,0.80000000000000004441,1.0,0.26157499999999950235,-0.00018931300000000001

In [127]:
training_set.to_csv('DATASETS/NOISE/TRAINING.csv', index=False)

In [128]:
testing_set = dataset.drop(training_set.index)
testing_set

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
3,0.0000000000000000000,0.0,0.0000000000000000000,0.00000000000000000000,0.0,0.98037499999999988542,0.00010178900000000000
12,0.0000000000000000000,0.0,0.0000000000000000000,0.00000000000000000000,0.0,0.92257499999999992291,0.00006510000000000000
23,0.0000000000000000000,0.0,0.0000000000000000000,0.00000000000000000000,0.0,0.85404999999999997584,0.00006340000000000000
30,0.0000000000000000000,0.0,0.0000000000000000000,0.00000000000000000000,0.0,0.81159999999999965503,0.00027822799999999999
40,0.0000000000000000000,0.0,0.0000000000000000000,0.00000000000000000000,0.0,0.75245000000000017426,0.00024476800000000003
...,...,...,...,...,...,...,...
602342,0.4000000000000000222,1.0,0.1111099999999999588,0.88889000000000017998,1.0,0.23487499999999991718,-0.01048200000000000000
602343,0.4000000000000000222,1.0,0.1111099999999999588,0.88889000000000017998,1.0,0.23044999999999954410,-0.01031349999999999975
602344,0.4000000000000000222,1.0,0.1111099999999999588,0.88889000000000017998,1.0,0.22604999999999983440,-0.01008620000000000176
602359,0.4000000000000000222,1.0,0.1111099999999999588,0.88889000000000017998,1.0,0.16135000000000004894,-0.00335810000000000015
602365,0.4000000000000000222,1.0,0.1111099999999999588,0.88889000000000017998,1.0,0.13612499999999991274,-0.00193456000000000010

In [174]:
training = pandas.read_csv('DATASETS/NOISE/TRAINING_23March2022.csv')
training

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,5.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000170000,0.00009103400000000000
1,5.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169817,0.00010104599999999999
2,5.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169635,0.00011188099999999999
3,5.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169453,0.00012333200000000000
4,5.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169271,0.00013515599999999999
...,...,...,...,...,...,...,...
1638395,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000140498,-0.01157120000000000024
1638396,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000140373,-0.01145799999999999944
1638397,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000140249,-0.01133980000000000057
1638398,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000140124,-0.01121510000000000042
1638399,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000140000,-0.01108289999999999970

In [169]:
columns_to_norm = ['Theta', 'Pitch', 'Duty Cycle', 'Fill Factor', 'Lambda', 'Mode']
training[columns_to_norm] = training[columns_to_norm].apply(lambda x: (x-x.min()) / (x.max() - x.min()))
training

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,0.0,0.0,0.0,0.0,0.0,1.00000000000000000000,0.00009103400000000000
1,0.0,0.0,0.0,0.0,0.0,0.99389999999999956160,0.00010104599999999999
2,0.0,0.0,0.0,0.0,0.0,0.98783333333333345205,0.00011188099999999999
3,0.0,0.0,0.0,0.0,0.0,0.98176666666666667638,0.00012333200000000000
4,0.0,0.0,0.0,0.0,0.0,0.97569999999999978968,0.00013515599999999999
...,...,...,...,...,...,...,...
1638395,1.0,1.0,1.0,1.0,1.0,0.01660000000000011119,-0.01157120000000000024
1638396,1.0,1.0,1.0,1.0,1.0,0.01243333333333348709,-0.01145799999999999944
1638397,1.0,1.0,1.0,1.0,1.0,0.00829999999999970345,-0.01133980000000000057
1638398,1.0,1.0,1.0,1.0,1.0,0.00413333333333378364,-0.01121510000000000042
1638399,1.0,1.0,1.0,1.0,1.0,0.00000000000000000000,-0.01108289999999999970

In [170]:
training.to_csv('DATASETS/NOISE/TRAINING_MIN_MAX_NORMALIZED_23March2022.csv')

In [175]:
testing = pandas.read_csv('DATASETS/NOISE/TESTING_23March2022.csv')
testing

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000170,-0.00001500000000000000
1,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000170,-0.00002330000000000000
2,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169,-0.00003289999999999999
3,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169,-0.00004310000000000000
4,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169,-0.00005350000000000001
...,...,...,...,...,...,...,...
102395,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000131,-0.01264649999999999976
102396,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130,-0.01230960000000000040
102397,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130,-0.01214430000000000023
102398,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130,-0.01191739999999999987
102399,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130,-0.01143749999999999975

In [176]:
testing['Theta'] = (testing['Theta'] - training.min()['Theta'])/(training.max()['Theta'] - training.min()['Theta'])
testing['Pitch'] = (testing['Pitch'] - training.min()['Pitch'])/(training.max()['Pitch'] - training.min()['Pitch'])
testing['Duty Cycle'] = (testing['Duty Cycle'] - training.min()['Duty Cycle'])/(training.max()['Duty Cycle'] - training.min()['Duty Cycle'])
testing['Fill Factor'] = (testing['Fill Factor'] - training.min()['Fill Factor'])/(training.max()['Fill Factor'] - training.min()['Fill Factor'])
testing['Mode'] = (testing['Mode'] - training.min()['Mode'])/(training.max()['Mode'] - training.min()['Mode'])
testing['Lambda'] = (testing['Lambda'] - training.min()['Lambda'])/(training.max()['Lambda'] - training.min()['Lambda'])
testing

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,0.33333333333333331483,0.0,0.0,0.0,0.0,1.00000000000000000000,-0.00001500000000000000
1,0.33333333333333331483,0.0,0.0,0.0,0.0,1.00000000000000000000,-0.00002330000000000000
2,0.33333333333333331483,0.0,0.0,0.0,0.0,0.96666666666666634100,-0.00003289999999999999
3,0.33333333333333331483,0.0,0.0,0.0,0.0,0.96666666666666634100,-0.00004310000000000000
4,0.33333333333333331483,0.0,0.0,0.0,0.0,0.96666666666666634100,-0.00005350000000000001
...,...,...,...,...,...,...,...
102395,1.00000000000000000000,1.0,1.0,1.0,1.0,-0.29999999999999987788,-0.01264649999999999976
102396,1.00000000000000000000,1.0,1.0,1.0,1.0,-0.33333333333333287074,-0.01230960000000000040
102397,1.00000000000000000000,1.0,1.0,1.0,1.0,-0.33333333333333287074,-0.01214430000000000023
102398,1.00000000000000000000,1.0,1.0,1.0,1.0,-0.33333333333333287074,-0.01191739999999999987
102399,1.00000000000000000000,1.0,1.0,1.0,1.0,-0.33333333333333287074,-0.01143749999999999975

In [177]:
testing.to_csv('DATASETS/NOISE/TESTING_MIN_MAX_NORMALIZED_23March2022.csv')

In [143]:
columns_to_norm = ['Theta', 'Pitch', 'Duty Cycle', 'Fill Factor', 'Lambda', 'Mode', 'Transmission']
dataset[columns_to_norm] = dataset[columns_to_norm].apply(lambda x: (x-x.min()) / (x.max() - x.min()))
dataset

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,0.0000000000000000000,0.0,0.0000000000000000000,0.00000000000000000000,0.0,1.00000000000000000000,0.50732287594056890701
1,0.0000000000000000000,0.0,0.0000000000000000000,0.00000000000000000000,0.0,0.99344999999999972218,0.50732411390139975360
2,0.0000000000000000000,0.0,0.0000000000000000000,0.00000000000000000000,0.0,0.98689999999999999947,0.50732613965548678525
3,0.0000000000000000000,0.0,0.0000000000000000000,0.00000000000000000000,0.0,0.98037499999999988542,0.50732849065564666891
4,0.0000000000000000000,0.0,0.0000000000000000000,0.00000000000000000000,0.0,0.97387500000000093436,0.50733055242313951361
...,...,...,...,...,...,...,...
602395,0.4000000000000000222,1.0,0.1111099999999999588,0.88889000000000017998,1.0,0.01544999999999978509,0.50630382372338111896
602396,0.4000000000000000222,1.0,0.1111099999999999588,0.88889000000000017998,1.0,0.01157499999999975909,0.50625917047620982991
602397,0.4000000000000000222,1.0,0.1111099999999999588,0.88889000000000017998,1.0,0.00769999999999973223,0.50621851134084661084
602398,0.4000000000000000222,1.0,0.1111099999999999588,0.88889000000000017998,1.0,0.00384999999999986612,0.50615564994069051075
602399,0.4000000000000000222,1.0,0.1111099999999999588,0.88889000000000017998,1.0,0.00000000000000000000,0.50608025587524951838

In [191]:
testing = pandas.read_csv('DATASETS/NOISE/TESTING_23March2022.csv')
testing

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000170,-0.00001500000000000000
1,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000170,-0.00002330000000000000
2,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169,-0.00003289999999999999
3,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169,-0.00004310000000000000
4,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169,-0.00005350000000000001
...,...,...,...,...,...,...,...
102395,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000131,-0.01264649999999999976
102396,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130,-0.01230960000000000040
102397,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130,-0.01214430000000000023
102398,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130,-0.01191739999999999987
102399,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130,-0.01143749999999999975

In [239]:
first_set = pandas.read_csv('DATASETS/NOISE/TRAINING_23MARCH2022.csv')
first_set

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,5.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000170000,0.00009103400000000000
1,5.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169817,0.00010104599999999999
2,5.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169635,0.00011188099999999999
3,5.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169453,0.00012333200000000000
4,5.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169271,0.00013515599999999999
...,...,...,...,...,...,...,...
1638395,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000140498,-0.01157120000000000024
1638396,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000140373,-0.01145799999999999944
1638397,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000140249,-0.01133980000000000057
1638398,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000140124,-0.01121510000000000042
1638399,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000140000,-0.01108289999999999970

In [240]:
second_set = pandas.read_csv('DATASETS/NOISE/DATASET_24March2022.csv')
second_set

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,5.0,0.00000050,0.40000000000000002220,0.28000000000000002665,0,0.00000170,0.00008600000000000000
1,5.0,0.00000050,0.40000000000000002220,0.28000000000000002665,0,0.00000170,0.00008690000000000001
2,5.0,0.00000050,0.40000000000000002220,0.28000000000000002665,0,0.00000169,0.00008720000000000001
3,5.0,0.00000050,0.40000000000000002220,0.28000000000000002665,0,0.00000169,0.00008640000000000001
4,5.0,0.00000050,0.40000000000000002220,0.28000000000000002665,0,0.00000169,0.00008440000000000001
...,...,...,...,...,...,...,...
601995,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000131,-0.00080868699999999999
601996,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130,-0.00084836399999999989
601997,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130,-0.00088449199999999996
601998,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130,-0.00094034800000000003
601999,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130,-0.00100734000000000001

In [234]:
combined_dataset = first_set.append(second_set)
combined_dataset

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000170000,0.00009103400000000000
1,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169817,0.00010104599999999999
2,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169635,0.00011188099999999999
3,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169453,0.00012333200000000000
4,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169271,0.00013515599999999999
...,...,...,...,...,...,...,...
601995,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000131000,-0.00080868699999999999
601996,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130000,-0.00084836399999999989
601997,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130000,-0.00088449199999999996
601998,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130000,-0.00094034800000000003
601999,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130000,-0.00100734000000000001

In [227]:
columns_to_norm = ['Theta', 'Pitch', 'Duty Cycle', 'Fill Factor', 'Lambda', 'Mode']
combined_dataset[columns_to_norm] = combined_dataset[columns_to_norm].apply(lambda x: (x-x.min()) / (x.max() - x.min()))
combined_dataset

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,0.0000000000000000000,0.0,0.00000000000000000000,0.00000000000000000000,0.0,1.00000000000000000000,0.00009103400000000000
1,0.0000000000000000000,0.0,0.00000000000000000000,0.00000000000000000000,0.0,0.99542499999999967120,0.00010104599999999999
2,0.0000000000000000000,0.0,0.00000000000000000000,0.00000000000000000000,0.0,0.99087500000000006128,0.00011188099999999999
3,0.0000000000000000000,0.0,0.00000000000000000000,0.00000000000000000000,0.0,0.98632500000000000728,0.00012333200000000000
4,0.0000000000000000000,0.0,0.00000000000000000000,0.00000000000000000000,0.0,0.98177499999999984226,0.00013515599999999999
...,...,...,...,...,...,...,...
601995,0.4000000000000000222,1.0,0.11110999999999982002,0.88889000000000017998,1.0,0.02499999999999976200,-0.00080868699999999999
601996,0.4000000000000000222,1.0,0.11110999999999982002,0.88889000000000017998,1.0,0.00000000000000000000,-0.00084836399999999989
601997,0.4000000000000000222,1.0,0.11110999999999982002,0.88889000000000017998,1.0,0.00000000000000000000,-0.00088449199999999996
601998,0.4000000000000000222,1.0,0.11110999999999982002,0.88889000000000017998,1.0,0.00000000000000000000,-0.00094034800000000003
601999,0.4000000000000000222,1.0,0.11110999999999982002,0.88889000000000017998,1.0,0.00000000000000000000,-0.00100734000000000001

In [235]:
combined_dataset.to_csv('DATASETS/NOISE/TRAINING_24March2022_UNNORMED.csv', index=False)

In [193]:
combined_dataset.to_csv('DATASETS/NOISE/TRAINING_24March2022.csv')

In [220]:
testing = pandas.read_csv('DATASETS/NOISE/TESTING_23March2022.csv')
testing

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000170000,-0.00001501910000000001
1,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169738,-0.00002329950000000000
2,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169476,-0.00003287890000000000
3,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169215,-0.00004314450000000000
4,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000168955,-0.00005352580000000000
...,...,...,...,...,...,...,...
102395,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130618,-0.01264649999999999976
102396,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130463,-0.01230960000000000040
102397,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130308,-0.01214430000000000023
102398,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130154,-0.01191739999999999987
102399,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130000,-0.01143749999999999975

In [216]:
training = combined_dataset
training

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000170000,0.00009103400000000000
1,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169817,0.00010104599999999999
2,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169635,0.00011188099999999999
3,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169453,0.00012333200000000000
4,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169271,0.00013515599999999999
...,...,...,...,...,...,...,...
601995,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000131000,-0.00080868699999999999
601996,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130000,-0.00084836399999999989
601997,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130000,-0.00088449199999999996
601998,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130000,-0.00094034800000000003
601999,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,1,0.00000130000,-0.00100734000000000001

In [217]:
testing['Theta'] = (testing['Theta'] - training.min()['Theta'])/(training.max()['Theta'] - training.min()['Theta'])
testing['Pitch'] = (testing['Pitch'] - training.min()['Pitch'])/(training.max()['Pitch'] - training.min()['Pitch'])
testing['Duty Cycle'] = (testing['Duty Cycle'] - training.min()['Duty Cycle'])/(training.max()['Duty Cycle'] - training.min()['Duty Cycle'])
testing['Fill Factor'] = (testing['Fill Factor'] - training.min()['Fill Factor'])/(training.max()['Fill Factor'] - training.min()['Fill Factor'])
testing['Mode'] = (testing['Mode'] - training.min()['Mode'])/(training.max()['Mode'] - training.min()['Mode'])
testing['Lambda'] = (testing['Lambda'] - training.min()['Lambda'])/(training.max()['Lambda'] - training.min()['Lambda'])
testing

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,0.33333333333333331483,0.00000000000000000000,0.0,0.0,0.0,1.00000000000000000000,-0.00001501910000000001
1,0.33333333333333331483,0.00000000000000000000,0.0,0.0,0.0,0.99344999999999972218,-0.00002329950000000000
2,0.33333333333333331483,0.00000000000000000000,0.0,0.0,0.0,0.98689999999999999947,-0.00003287890000000000
3,0.33333333333333331483,0.00000000000000000000,0.0,0.0,0.0,0.98037499999999988542,-0.00004314450000000000
4,0.33333333333333331483,0.00000000000000000000,0.0,0.0,0.0,0.97387500000000093436,-0.00005352580000000000
...,...,...,...,...,...,...,...
102395,1.00000000000000000000,0.99009900990099020124,1.0,1.0,1.0,0.01544999999999978509,-0.01264649999999999976
102396,1.00000000000000000000,0.99009900990099020124,1.0,1.0,1.0,0.01157499999999975909,-0.01230960000000000040
102397,1.00000000000000000000,0.99009900990099020124,1.0,1.0,1.0,0.00769999999999973223,-0.01214430000000000023
102398,1.00000000000000000000,0.99009900990099020124,1.0,1.0,1.0,0.00384999999999986612,-0.01191739999999999987
102399,1.00000000000000000000,0.99009900990099020124,1.0,1.0,1.0,0.00000000000000000000,-0.01143749999999999975

In [219]:
testing.to_csv('DATASETS/NOISE/TESTING_24March2022.csv')

In [225]:
testing

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000170000,-0.00001501910000000001
1,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169738,-0.00002329950000000000
2,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169476,-0.00003287890000000000
3,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169215,-0.00004314450000000000
4,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000168955,-0.00005352580000000000
...,...,...,...,...,...,...,...
102395,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130618,-0.01264649999999999976
102396,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130463,-0.01230960000000000040
102397,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130308,-0.01214430000000000023
102398,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130154,-0.01191739999999999987
102399,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130000,-0.01143749999999999975

In [237]:
training = pandas.read_csv('DATASETS/NOISE/TRAINING_24March2022_UNNORMED.csv')
training

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000170000,0.00009103400000000000
1,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169817,0.00010104600000000001
2,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169635,0.00011188100000000001
3,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169453,0.00012333200000000000
4,5.0,0.00000050,0.40000000000000002220,0.20000000000000001110,0,0.00000169271,0.00013515599999999999
...,...,...,...,...,...,...,...
2240395,11.0,0.00000151,0.44444400000000000572,0.55555600000000004979,1,0.00000131000,-0.00080868699999999999
2240396,11.0,0.00000151,0.44444400000000000572,0.55555600000000004979,1,0.00000130000,-0.00084836399999999989
2240397,11.0,0.00000151,0.44444400000000000572,0.55555600000000004979,1,0.00000130000,-0.00088449199999999996
2240398,11.0,0.00000151,0.44444400000000000572,0.55555600000000004979,1,0.00000130000,-0.00094034800000000003
2240399,11.0,0.00000151,0.44444400000000000572,0.55555600000000004979,1,0.00000130000,-0.00100734000000000001

In [238]:
testing = pandas.read_csv('DATASETS/NOISE/TESTING_23March2022.csv')
testing

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000170000,-0.00001501910000000001
1,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169738,-0.00002329950000000000
2,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169476,-0.00003287890000000000
3,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000169215,-0.00004314450000000000
4,10.0,0.0000005,0.40000000000000002220,0.2000000000000000111,0,0.00000168955,-0.00005352580000000000
...,...,...,...,...,...,...,...
102395,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130618,-0.01264649999999999976
102396,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130463,-0.01230960000000000040
102397,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130308,-0.01214430000000000023
102398,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130154,-0.01191739999999999987
102399,20.0,0.0000015,0.80000000000000004441,0.5999999999999999778,1,0.00000130000,-0.01143749999999999975