In [1]:
import torch
from torch import nn
import numpy as np
import pandas
from torch.utils.data import Dataset, DataLoader
import time

pandas.set_option('precision', 20)

In [2]:
def get_features(dataframe:pandas.DataFrame)->torch.Tensor:
        return dataframe[["Theta", "Pitch", "Duty Cycle", "Fill Factor", "Lambda", "Mode"]].values

In [48]:
dataset = pandas.read_csv('DATA_FILES/dataset_killed_low_vals(4).csv')
dataset

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,5.0,0.00000050,0.40000000000000002220,0.35999999999999998668,1,0.00000170,-0.00036609699999999996
1,5.0,0.00000050,0.40000000000000002220,0.35999999999999998668,1,0.00000170,-0.00031638199999999998
2,5.0,0.00000050,0.40000000000000002220,0.35999999999999998668,1,0.00000169,-0.00026837599999999997
3,5.0,0.00000050,0.40000000000000002220,0.35999999999999998668,1,0.00000169,-0.00022386900000000002
4,5.0,0.00000050,0.40000000000000002220,0.35999999999999998668,1,0.00000169,-0.00018692900000000001
...,...,...,...,...,...,...,...
444195,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000131,0.02360320000000000126
444196,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000130,0.02386749999999999983
444197,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000130,0.02406900000000000012
444198,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000130,0.02422159999999999938
444199,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000130,0.02434090000000000212

In [45]:
new_data = pandas.read_csv('DATA_FILES/new_data_19March2022.csv')
new_data

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,10.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000170,-0.00016305899999999998
1,10.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000170,-0.00015550800000000000
2,10.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000169,-0.00014162499999999999
3,10.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000169,-0.00012065900000000000
4,10.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000169,-0.00009240000000000001
...,...,...,...,...,...,...,...
39795,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000131,0.02360320000000000126
39796,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000130,0.02386749999999999983
39797,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000130,0.02406900000000000012
39798,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000130,0.02422159999999999938
39799,11.0,0.00000151,0.44444399999999995021,0.55555600000000004979,0,0.00000130,0.02434090000000000212

In [34]:
dataset = dataset.append(new_data)
dataset

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,5.00000000000000000000,0.00000050,0.40000000000000002220,0.35999999999999998668,1,0.00000170000,-0.00036609699999999996
1,5.00000000000000000000,0.00000050,0.40000000000000002220,0.35999999999999998668,1,0.00000170000,-0.00031638199999999998
2,5.00000000000000000000,0.00000050,0.40000000000000002220,0.35999999999999998668,1,0.00000169000,-0.00026837599999999997
3,5.00000000000000000000,0.00000050,0.40000000000000002220,0.35999999999999998668,1,0.00000169000,-0.00022386900000000002
4,5.00000000000000000000,0.00000050,0.40000000000000002220,0.35999999999999998668,1,0.00000169000,-0.00018692900000000001
...,...,...,...,...,...,...,...
39795,0.55555600000000004979,0.00000151,0.44444399999999995021,11.00000000000000000000,0,0.00000130618,0.02360320000000000126
39796,0.55555600000000004979,0.00000151,0.44444399999999995021,11.00000000000000000000,0,0.00000130463,0.02386749999999999983
39797,0.55555600000000004979,0.00000151,0.44444399999999995021,11.00000000000000000000,0,0.00000130308,0.02406900000000000012
39798,0.55555600000000004979,0.00000151,0.44444399999999995021,11.00000000000000000000,0,0.00000130154,0.02422159999999999938
39799,0.55555600000000004979,0.00000151,0.44444399999999995021,11.00000000000000000000,0,0.00000130000,0.02434090000000000212

In [49]:
columns_to_norm = ['Theta', 'Pitch', 'Duty Cycle', 'Fill Factor', 'Lambda', 'Mode']
dataset[columns_to_norm] = dataset[columns_to_norm].apply(lambda x: (x-x.min()) / (x.max() - x.min()))
dataset

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
0,0.0000000000000000000,0.0,0.00000000000000000000,0.39999999999999996669,1.0,1.00000000000000000000,-0.00036609699999999996
1,0.0000000000000000000,0.0,0.00000000000000000000,0.39999999999999996669,1.0,1.00000000000000000000,-0.00031638199999999998
2,0.0000000000000000000,0.0,0.00000000000000000000,0.39999999999999996669,1.0,0.97499999999999975575,-0.00026837599999999997
3,0.0000000000000000000,0.0,0.00000000000000000000,0.39999999999999996669,1.0,0.97499999999999975575,-0.00022386900000000002
4,0.0000000000000000000,0.0,0.00000000000000000000,0.39999999999999996669,1.0,0.97499999999999975575,-0.00018692900000000001
...,...,...,...,...,...,...,...
444195,0.4000000000000000222,1.0,0.11110999999999982002,0.88889000000000017998,0.0,0.02499999999999976200,0.02360320000000000126
444196,0.4000000000000000222,1.0,0.11110999999999982002,0.88889000000000017998,0.0,0.00000000000000000000,0.02386749999999999983
444197,0.4000000000000000222,1.0,0.11110999999999982002,0.88889000000000017998,0.0,0.00000000000000000000,0.02406900000000000012
444198,0.4000000000000000222,1.0,0.11110999999999982002,0.88889000000000017998,0.0,0.00000000000000000000,0.02422159999999999938
444199,0.4000000000000000222,1.0,0.11110999999999982002,0.88889000000000017998,0.0,0.00000000000000000000,0.02434090000000000212

In [51]:
dataset.to_csv('DATA_FILES/dataset_killed_low_vals_min_max_normalized_20March2022.csv')

In [52]:
training_set = dataset.sample(frac = 0.85)
training_set

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
17869,0.00000000000000000000,0.19801980198019800139,1.00000000000000000000,0.00000000000000000000,1.0,0.60000000000000008882,-0.00019232400000000001
272660,0.80000000000000004441,0.19801980198019800139,0.79999999999999982236,0.59999999999999997780,1.0,0.65000000000000013323,-0.17677400000000001445
220513,0.59999999999999997780,0.59405940594059414295,0.00000000000000000000,1.00000000000000000000,1.0,0.37500000000000011102,-0.00113265999999999996
99728,0.20000000000000001110,0.59405940594059414295,0.59999999999999997780,0.20000000000000006661,0.0,0.29999999999999976685,0.00301816000000000020
371340,1.00000000000000000000,0.99009900990099020124,0.40000000000000007772,0.20000000000000006661,0.0,0.24999999999999972244,0.00103957000000000008
...,...,...,...,...,...,...,...
4396,0.00000000000000000000,0.00000000000000000000,0.79999999999999982236,0.39999999999999996669,1.0,0.00000000000000000000,-0.11666900000000000881
14730,0.00000000000000000000,0.19801980198019800139,0.59999999999999997780,0.80000000000000004441,1.0,0.29999999999999976685,-0.00014208200000000000
104024,0.20000000000000001110,0.59405940594059414295,1.00000000000000000000,0.39999999999999996669,0.0,0.84999999999999986677,0.00126991999999999990
91688,0.20000000000000001110,0.39603960396039600278,0.59999999999999997780,0.00000000000000000000,0.0,0.50000000000000000000,0.01735790000000000249
289440,0.80000000000000004441,0.59405940594059414295,0.79999999999999982236,0.39999999999999996669,0.0,0.74999999999999977796,0.00130287000000000003

In [53]:
training_set.to_csv('DATA_FILES/training_set_killed_low_vals_20March2022.csv')

In [54]:
testing_set = dataset.drop(training_set.index)
testing_set

,Theta,Pitch,Duty Cycle,Fill Factor,Mode,Lambda,Transmission
8,0.0000000000000000000,0.0,0.00000000000000000000,0.39999999999999996669,1.0,0.94999999999999995559,-0.00012721100000000001
22,0.0000000000000000000,0.0,0.00000000000000000000,0.39999999999999996669,1.0,0.84999999999999986677,-0.00037087199999999996
32,0.0000000000000000000,0.0,0.00000000000000000000,0.39999999999999996669,1.0,0.79999999999999982236,-0.00008630000000000000
41,0.0000000000000000000,0.0,0.00000000000000000000,0.39999999999999996669,1.0,0.74999999999999977796,-0.00018453599999999998
51,0.0000000000000000000,0.0,0.00000000000000000000,0.39999999999999996669,1.0,0.69999999999999973355,-0.00034343599999999997
...,...,...,...,...,...,...,...
444179,0.4000000000000000222,1.0,0.11110999999999982002,0.88889000000000017998,0.0,0.07499999999999981681,0.01003659999999999969
444185,0.4000000000000000222,1.0,0.11110999999999982002,0.88889000000000017998,0.0,0.05000000000000005135,0.01646419999999999828
444189,0.4000000000000000222,1.0,0.11110999999999982002,0.88889000000000017998,0.0,0.05000000000000005135,0.02027380000000000154
444192,0.4000000000000000222,1.0,0.11110999999999982002,0.88889000000000017998,0.0,0.02499999999999976200,0.02233490000000000128
444195,0.4000000000000000222,1.0,0.11110999999999982002,0.88889000000000017998,0.0,0.02499999999999976200,0.02360320000000000126

In [55]:
testing_set.to_csv('DATA_FILES/testing_set_killed_low_vals_20March2022.csv')